In [1]:
import pandas as pd
import numpy as np

from catboost import CatBoostClassifier
from sklearn.model_selection import StratifiedKFold

from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import log_loss
from tensorflow.keras.utils import to_categorical

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
from IPython.core.display import display, HTML
display(HTML("<style>.container { width: 100% !important; }</style>"))

### 데이터 불러오기

In [2]:
train = pd.read_csv('./open/train.csv')
train = train.drop(['index'], axis=1)

test = pd.read_csv('./open/test.csv')
test = test.drop(['index'], axis=1)

submit = pd.read_csv('./open/sample_submission.csv')

### 전처리 함수

In [3]:
# day를 year로 변경해주는 함수
def days_to_year(x):
    return (x*-1)/365

In [4]:
# 마이너스 변환
def minus(x):
    return x * -1

### 이상치 제거

In [5]:
def remove_outlier(train, column):
    
    df = train[column]
    
    # 1분위수
    quan_25 = np.percentile(df.values, 25)
    
    # 3분위수
    quan_75 = np.percentile(df.values, 75)
    
    iqr = quan_75 - quan_25
    
    lowest = quan_25 - iqr * 5
    highest = quan_75 + iqr * 5
    outlier_index = df[(df < lowest) | (df > highest)].index
    print('outlier의 수 : ' , len(outlier_index))
    print(df.iloc[outlier_index])
    train.drop(outlier_index, axis = 0, inplace = True)
    
    return train

In [6]:
candidate = ['child_num']
for cand in candidate:  
    train = remove_outlier(train,cand)

train.reset_index(drop = True,inplace = True)
len(train)

outlier의 수 :  6
8462     14
9021     14
10731    19
25313     7
25390    14
25638     7
Name: child_num, dtype: int64

26451

### 변수 조합으로 파생변수 생성

In [7]:
def add_var(data):
    
    # 개개인을 구분할 수 있는 변수들을 묶어서 생성
    data['personal_id'] = data['gender'] + "_" + data['DAYS_BIRTH'].astype(str) + "_" + data['income_total'].astype(str) + "_" + data['income_type'].astype(str)
    
    # 카드를 생성한 기간도 같은 경우가 있어서 begin을 추가하여 하나의 변수를 더 생성
    data['personal_begin_id'] = data['gender'] + "_" + data['DAYS_BIRTH'].astype(str) + "_" + data['income_total'].astype(str) + "_" + data['income_type'].astype(str) + "_" + data['begin_month'].astype(str)
    
    # 그외의 변수들을 조합하여 하나의 변수로 추가 생성
    data['g_r_c'] = data['gender'] + "_" + data['reality'] + "_" + data['car'] 
    data['p_w_e'] = data['phone'].astype(str) + "_" + data['work_phone'].astype(str) + "_" + data['email'].astype(str) 
    
    return data

In [8]:
train = add_var(train)
test = add_var(test)

### 숫자형 변수 전처리 및 변수 생성

In [9]:
def numeric_process(data):
    
    # income_total 변수 전처리
    # 만단위로 생성
    data['income_total'] = data['income_total']/10000
    # 편차 제곱 변수 생성
    data['income_total_dev'] = (data['income_total'] - data['income_total'].mean())**2
    # 로그 변환
    data['income_total_log'] = data['income_total'].apply(np.log1p)

    # DAYS_EMPLOYED 변수 전처리
    # 0 이상인 경우 0으로 모두 변환
    data.loc[data['DAYS_EMPLOYED'] >= 0,'DAYS_EMPLOYED']=0
    # day를 year로 변환
    data['DAYS_EMPLOYED'] = data['DAYS_EMPLOYED'].apply(days_to_year) 
    # 로그 변환
    data['DAYS_EMPLOYED_log'] = data['DAYS_EMPLOYED'].apply(np.log1p)

    # begin_month 변수 전처리
    # 마이너스 변환
    data['begin_month'] = data['begin_month'].apply(minus)
    
    # DAYS_BIRTH 변수 전처리
    # day를 year로 변환
    data['DAYS_BIRTH'] = data['DAYS_BIRTH'].apply(days_to_year)

    #  DAYS_BIRTH, DAYS_EMPLOYED, income_total변수를 조합하여 RATIO 변수 생성
    data['EMPLOYED_BIRTH_RATIO'] = data['DAYS_EMPLOYED']/data['DAYS_BIRTH']
    data['INCOME_EMPLOYED_RATIO'] = data['income_total']/data['DAYS_EMPLOYED']
    data['INCOME_BIRTH_RATIO'] = data['income_total']/data['DAYS_BIRTH']
    
    # 가족수 - 자식수
    data['diff_fam_child'] = data['family_size'] - data['child_num']
    # chid_num과 family_size는 다음과 같이 최대 2와 5가 되도록 전처리
    data.loc[data['child_num'] >= 2,'child_num'] = 2
    data.loc[data['family_size'] >= 5,'child_num'] = 5
    # 가족수와 자녀수 sum 변수 추가
    data['FAM_CHILD_SUM'] = data[['child_num', 'family_size']].sum(axis=1)
    
    # income을 가족 수 및 자식 수로 나눈 비율
    data['INCOME_FAM_RATIO'] = data['income_total']/data['family_size']
    data['INCOME_child_num_RATIO'] = data['income_total']/data['child_num']
    
    # 일을하게 된 시점 변수 추가
    data['BIRTH_MINUS_EMPLOYED'] = data['DAYS_BIRTH'] - data['DAYS_EMPLOYED']
    # income total 변수에 before_EMPLOYED로 나눈 변수 추가
    data['INCOME_BIRTH_MINUS_EMPLOYED_RATIO'] = data['income_total']/data['BIRTH_MINUS_EMPLOYED']
    
    return data

In [10]:
train = numeric_process(train)
test = numeric_process(test)

### occyp_type 변수 전처리

In [11]:
def occype_process(data):
    
    # occyp_type 변수에만 있는 결측치를 'NAN' 값으로 대체
    data['occyp_type'] = data['occyp_type'].fillna('NAN')
    # 경력이 없고 직업군이 none인 사람은 no_work로 대체
    data.loc[(data['DAYS_EMPLOYED'] == 0) & (data['occyp_type'] == 'NAN'), 'occyp_type'] = 'no_work'
    print(data['occyp_type'].value_counts(), '\n\n')

    return data

In [12]:
train = occype_process(train)
test = occype_process(test)

Laborers                 4512
no_work                  4438
NAN                      3733
Core staff               2646
Sales staff              2539
Managers                 2167
Drivers                  1572
High skill tech staff    1040
Accountants               902
Medicine staff            864
Cooking staff             457
Security staff            424
Cleaning staff            401
Private service staff     243
Low-skill Laborers        127
Waiters/barmen staff      123
Secretaries                97
Realty agents              63
HR staff                   62
IT staff                   41
Name: occyp_type, dtype: int64


Laborers                 1699
no_work                  1697
NAN                      1455
Sales staff               946
Core staff                945
Managers                  845
Drivers                   563
Medicine staff            343
High skill tech staff     343
Accountants               339
Cooking staff             198
Security staff            168
Cleaning staff            148
Private service staff     101
Secretaries                54
Waiters/barmen staff       50
Low-skill Laborers         48
HR staff                   23
IT staff                   19
Realty agents              16
Name: occyp_type, dtype: int64

### 구간화 변수 생성

In [13]:
#구간화 함수
def make_bin(df, variable, n):
    
    data = df
    count, bin_dividers = np.histogram(data[variable], bins=n)
    bin_names=[str(i) for i in range(n)]
    data['%s_bin' % variable] = pd.cut(x=data[variable], bins=bin_dividers, labels=bin_names, include_lowest=True)
    data['%s_bin' % variable] = pd.factorize(data['%s_bin' % variable])[0]
    print(data['%s_bin' % variable], '\n\n')
    
    return data

In [14]:
# days_birth만 구간화 했을 떄 가장 성능이 좋았음
train = make_bin(train, 'DAYS_BIRTH', n=10)
test = make_bin(test, 'DAYS_BIRTH', n=10)

0        0
1        1
2        2
3        3
4        3
        ..
26446    1
26447    3
26448    5
26449    5
26450    2
Name: DAYS_BIRTH_bin, Length: 26451, dtype: int64


0       0
1       1
2       2
3       1
4       3
       ..
9995    1
9996    8
9997    4
9998    3
9999    9
Name: DAYS_BIRTH_bin, Length: 10000, dtype: int64

### 최종 데이터 shape 확인

In [16]:
train.shape, test.shape

((26451, 33), (10000, 32))

### 학습을 위한 피쳐 레이블 및 label 생성

In [17]:
train_x = train.drop(['credit'],axis=1)
train_y = train['credit']

### 전체 변수 정보 확인

In [18]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26451 entries, 0 to 26450
Data columns (total 32 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             26451 non-null  object
 1   car                                26451 non-null  object
 2   reality                            26451 non-null  object
 3   child_num                          26451 non-null  int64
 4   income_type                        26451 non-null  object
 5   edu_type                           26451 non-null  object
 6   family_type                        26451 non-null  object
 7   house_type                         26451 non-null  object
 8   DAYS_BIRTH                         26451 non-null  float64
 9   work_phone                         26451 non-null  int64
 10  phone                              26451 non-null  int64
 11  email                              26451 non-null  int64
 12  occyp_type                         26451 non-null  object
 13  family_size                        26451 non-null  float64
 14  begin_month                        26451 non-null  float64
 15  personal_id                        26451 non-null  object
 16  personal_begin_id                  26451 non-null  object
 17  g_r_c                              26451 non-null  object
 18  p_w_e                              26451 non-null  object
 19  income_total_dev                   26451 non-null  float64
 20  income_total_log                   26451 non-null  float64
 21  DAYS_EMPLOYED_log                  26451 non-null  float64
 22  EMPLOYED_BIRTH_RATIO               26451 non-null  float64
 23  INCOME_EMPLOYED_RATIO              26451 non-null  float64
 24  INCOME_BIRTH_RATIO                 26451 non-null  float64
 25  diff_fam_child                     26451 non-null  float64
 26  FAM_CHILD_SUM                      26451 non-null  float64
 27  INCOME_FAM_RATIO                   26451 non-null  float64
 28  INCOME_child_num_RATIO             26451 non-null  float64
 29  BIRTH_MINUS_EMPLOYED               26451 non-null  float64
 30  INCOME_BIRTH_MINUS_EMPLOYED_RATIO  26451 non-null  float64
 31  DAYS_BIRTH_bin                     26451 non-null  int64
dtypes: float64(15), int64(5), object(12)
memory usage: 6.5+ MB

### 컬럼 순서대로 정렬 후 object형 변수의 인덱스 정보를 cat_feature에 활용

In [19]:
# object형 변수는 cat_features에 추가
cat_features = [f for f in train_x.columns if train_x[f].dtype == 'object']

def column_index(df, cat_features):
    cols = df.columns.values
    sidx = np.argsort(cols)
    return sidx[np.searchsorted(cols, cat_features, sorter=sidx)]

cat_features_idx = column_index(train_x, cat_features)    
print("Cat features are: %s" % [f for f in cat_features])
print(cat_features_idx)

Cat features are: ['gender', 'car', 'reality', 'income_type', 'edu_type', 'family_type', 'house_type', 'occyp_type', 'personal_id', 'personal_begin_id', 'g_r_c', 'p_w_e']
[ 0  1  2  4  5  6  7 12 15 16 17 18]

### 모델링

In [20]:
cat_models={}

def cat_kfold(max_depth, learning_rate, random_seed):
    
    folds=StratifiedKFold(n_splits=10, shuffle=True, random_state=55)
    outcomes=[]
    sub=np.zeros((test.shape[0], 3))  
    
    for seed in random_seed:
        for n_fold, (train_index, val_index) in enumerate(folds.split(train_x, train_y)):
            print(f'===================================={n_fold+1}============================================')
            
            X_train, X_val = train_x.iloc[train_index], train_x.iloc[val_index]
            y_train, y_val = train_y.iloc[train_index], train_y.iloc[val_index]

            # early_stopping 50에서 가장 좋은 점수를 내는 learning_rate를 활용
            cat = CatBoostClassifier(n_estimators=3000, max_depth=max_depth, random_seed=seed, learning_rate=learning_rate, bootstrap_type ='Bernoulli')
            cat.fit(X_train, y_train,
                  eval_set=[(X_train, y_train), (X_val, y_val)],
                  early_stopping_rounds=50, cat_features=cat_features,
                  verbose=100)

            cat_models[n_fold] = cat

            # val 데이터 예측
            predictions = cat.predict_proba(X_val)
            # test 데이터 예측
            test_predictions = cat.predict_proba(test)

            # val 데이터 예측 logloss 값 저장
            logloss=log_loss(to_categorical(y_val), predictions)
            outcomes.append(logloss)
            print(f"FOLD {n_fold+1} : logloss:{logloss}")

            # test 데이터 예측 결과 종합
            # 최종 적으로는 kolds 횟수 만큼 나눠서 평균 값을 활용
            sub+=test_predictions

            print(f'================================================================================\n\n')

    # 저장된 val 데이터 예측 logloss 값의 평균 값으로 성능을 비교
    mean_outcome=np.mean(outcomes)
    print("Mean:{}".format(mean_outcome))
    
    return sub/(folds.n_splits * len(random_seed))

In [21]:
my_submission = cat_kfold(8, 0.04, [1042])

====================================1============================================
0:	learn: 1.0753981	test: 1.0753981	test1: 1.0756713	best: 1.0756713 (0)	total: 172ms	remaining: 8m 36s
100:	learn: 0.7193150	test: 0.5183206	test1: 0.6833848	best: 0.6833848 (100)	total: 9.9s	remaining: 4m 44s
200:	learn: 0.7043177	test: 0.4936565	test1: 0.6754033	best: 0.6754033 (200)	total: 22.5s	remaining: 5m 13s
300:	learn: 0.6885788	test: 0.4764666	test1: 0.6723342	best: 0.6723342 (300)	total: 35.9s	remaining: 5m 21s
400:	learn: 0.6738639	test: 0.4705566	test1: 0.6711357	best: 0.6711357 (400)	total: 49.5s	remaining: 5m 20s
500:	learn: 0.6590802	test: 0.4663528	test1: 0.6707385	best: 0.6706953 (496)	total: 1m 4s	remaining: 5m 19s
600:	learn: 0.6420648	test: 0.4609411	test1: 0.6705789	best: 0.6703244 (574)	total: 1m 17s	remaining: 5m 9s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.6703244328
bestIteration = 574

Shrink model to first 575 iterations.
FOLD 1 : logloss:0.6703244328385796
================================================================================


====================================2============================================
0:	learn: 1.0767587	test: 1.0767064	test1: 1.0766406	best: 1.0766406 (0)	total: 135ms	remaining: 6m 44s
100:	learn: 0.7175677	test: 0.5180454	test1: 0.6779790	best: 0.6779790 (100)	total: 10.2s	remaining: 4m 51s
200:	learn: 0.7004349	test: 0.4924108	test1: 0.6709044	best: 0.6708515 (189)	total: 22.7s	remaining: 5m 16s
300:	learn: 0.6862630	test: 0.4857915	test1: 0.6694773	best: 0.6693898 (297)	total: 35.8s	remaining: 5m 21s
400:	learn: 0.6708464	test: 0.4735211	test1: 0.6682991	best: 0.6682671 (397)	total: 49.3s	remaining: 5m 19s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.6679707003
bestIteration = 443

Shrink model to first 444 iterations.
FOLD 2 : logloss:0.6679707002697142
================================================================================


====================================3============================================
0:	learn: 1.0768867	test: 1.0768712	test1: 1.0764059	best: 1.0764059 (0)	total: 133ms	remaining: 6m 37s
100:	learn: 0.7180861	test: 0.5158097	test1: 0.6626619	best: 0.6626619 (100)	total: 10.8s	remaining: 5m 10s
200:	learn: 0.7031455	test: 0.4740190	test1: 0.6540514	best: 0.6540514 (200)	total: 24s	remaining: 5m 33s
300:	learn: 0.6885999	test: 0.4609187	test1: 0.6501254	best: 0.6501254 (300)	total: 36.9s	remaining: 5m 30s
400:	learn: 0.6760931	test: 0.4565245	test1: 0.6489303	best: 0.6488591 (396)	total: 50.5s	remaining: 5m 27s
500:	learn: 0.6628593	test: 0.4511678	test1: 0.6480795	best: 0.6479855 (488)	total: 1m 4s	remaining: 5m 19s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.6479855453
bestIteration = 488

Shrink model to first 489 iterations.
FOLD 3 : logloss:0.6479855453156986
================================================================================


====================================4============================================
0:	learn: 1.0752382	test: 1.0751911	test1: 1.0753775	best: 1.0753775 (0)	total: 108ms	remaining: 5m 24s
100:	learn: 0.7158472	test: 0.5161902	test1: 0.6824792	best: 0.6824792 (100)	total: 10.6s	remaining: 5m 4s
200:	learn: 0.6999906	test: 0.4789495	test1: 0.6761613	best: 0.6760980 (198)	total: 22.9s	remaining: 5m 18s
300:	learn: 0.6862390	test: 0.4621209	test1: 0.6756022	best: 0.6755859 (299)	total: 36.6s	remaining: 5m 28s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.6754479136
bestIteration = 307

Shrink model to first 308 iterations.
FOLD 4 : logloss:0.6754479136457409
================================================================================


====================================5============================================
0:	learn: 1.0767520	test: 1.0766804	test1: 1.0769713	best: 1.0769713 (0)	total: 136ms	remaining: 6m 49s
100:	learn: 0.7174475	test: 0.5156993	test1: 0.6845620	best: 0.6845620 (100)	total: 10.6s	remaining: 5m 4s
200:	learn: 0.7018300	test: 0.4760076	test1: 0.6768769	best: 0.6768769 (200)	total: 23.7s	remaining: 5m 30s
300:	learn: 0.6877278	test: 0.4637876	test1: 0.6748814	best: 0.6748563 (299)	total: 37.9s	remaining: 5m 39s
400:	learn: 0.6719990	test: 0.4570220	test1: 0.6733865	best: 0.6733865 (400)	total: 52.2s	remaining: 5m 38s
500:	learn: 0.6567895	test: 0.4521291	test1: 0.6731344	best: 0.6729575 (476)	total: 1m 6s	remaining: 5m 31s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.6729574874
bestIteration = 476

Shrink model to first 477 iterations.
FOLD 5 : logloss:0.6729574874194995
================================================================================


====================================6============================================
0:	learn: 1.0757957	test: 1.0757705	test1: 1.0757407	best: 1.0757407 (0)	total: 101ms	remaining: 5m 1s
100:	learn: 0.7171833	test: 0.5154398	test1: 0.6806437	best: 0.6806437 (100)	total: 11.4s	remaining: 5m 28s
200:	learn: 0.6997364	test: 0.4857641	test1: 0.6731033	best: 0.6731033 (200)	total: 24.7s	remaining: 5m 44s
300:	learn: 0.6843505	test: 0.4740271	test1: 0.6709090	best: 0.6709090 (300)	total: 39.1s	remaining: 5m 50s
400:	learn: 0.6682932	test: 0.4677556	test1: 0.6693621	best: 0.6693471 (382)	total: 54s	remaining: 5m 49s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.6691909293
bestIteration = 423

Shrink model to first 424 iterations.
FOLD 6 : logloss:0.6691909292546802
================================================================================


====================================7============================================
0:	learn: 1.0767671	test: 1.0767984	test1: 1.0767797	best: 1.0767797 (0)	total: 150ms	remaining: 7m 29s
100:	learn: 0.7184446	test: 0.5169130	test1: 0.6735904	best: 0.6735904 (100)	total: 10.6s	remaining: 5m 2s
200:	learn: 0.7030103	test: 0.4924467	test1: 0.6661736	best: 0.6661736 (200)	total: 23.3s	remaining: 5m 24s
300:	learn: 0.6872298	test: 0.4831449	test1: 0.6633754	best: 0.6633754 (300)	total: 37.5s	remaining: 5m 36s
400:	learn: 0.6721959	test: 0.4772047	test1: 0.6627130	best: 0.6626525 (394)	total: 52.6s	remaining: 5m 40s
500:	learn: 0.6566153	test: 0.4736067	test1: 0.6625675	best: 0.6622273 (476)	total: 1m 8s	remaining: 5m 39s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.6622272693
bestIteration = 476

Shrink model to first 477 iterations.
FOLD 7 : logloss:0.662227269273588
================================================================================


====================================8============================================
0:	learn: 1.0752738	test: 1.0752649	test1: 1.0752663	best: 1.0752663 (0)	total: 121ms	remaining: 6m 2s
100:	learn: 0.7184846	test: 0.5150940	test1: 0.6674425	best: 0.6674425 (100)	total: 11.1s	remaining: 5m 17s
200:	learn: 0.7031174	test: 0.4773070	test1: 0.6598141	best: 0.6598052 (199)	total: 24.5s	remaining: 5m 41s
300:	learn: 0.6888186	test: 0.4629213	test1: 0.6574254	best: 0.6573416 (296)	total: 39.3s	remaining: 5m 52s
400:	learn: 0.6746217	test: 0.4561284	test1: 0.6563381	best: 0.6563167 (394)	total: 54s	remaining: 5m 50s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.6562766794
bestIteration = 437

Shrink model to first 438 iterations.
FOLD 8 : logloss:0.6562766794124822
================================================================================


====================================9============================================
0:	learn: 1.0768049	test: 1.0767886	test1: 1.0766470	best: 1.0766470 (0)	total: 149ms	remaining: 7m 25s
100:	learn: 0.7193065	test: 0.5195150	test1: 0.6771171	best: 0.6771171 (100)	total: 10.5s	remaining: 5m 1s
200:	learn: 0.7016532	test: 0.4880622	test1: 0.6689692	best: 0.6689197 (197)	total: 24.7s	remaining: 5m 43s
300:	learn: 0.6877927	test: 0.4679382	test1: 0.6668819	best: 0.6668819 (300)	total: 39.7s	remaining: 5m 56s
400:	learn: 0.6735662	test: 0.4627046	test1: 0.6667356	best: 0.6666244 (394)	total: 54.8s	remaining: 5m 54s
500:	learn: 0.6591285	test: 0.4577440	test1: 0.6660008	best: 0.6659782 (479)	total: 1m 10s	remaining: 5m 51s
600:	learn: 0.6447510	test: 0.4532400	test1: 0.6657129	best: 0.6656843 (595)	total: 1m 25s	remaining: 5m 41s

700:	learn: 0.6301748	test: 0.4490891	test1: 0.6651684	best: 0.6651349 (696)	total: 1m 40s	remaining: 5m 30s
800:	learn: 0.6159579	test: 0.4446388	test1: 0.6647183	best: 0.6645502 (787)	total: 1m 55s	remaining: 5m 17s
900:	learn: 0.6010922	test: 0.4407893	test1: 0.6642516	best: 0.6642253 (861)	total: 2m 10s	remaining: 5m 4s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.6642252852
bestIteration = 861

Shrink model to first 862 iterations.
FOLD 9 : logloss:0.6642252851534052
================================================================================


====================================10============================================
0:	learn: 1.0768180	test: 1.0767707	test1: 1.0768660	best: 1.0768660 (0)	total: 150ms	remaining: 7m 30s
100:	learn: 0.7181306	test: 0.5172599	test1: 0.6810804	best: 0.6810804 (100)	total: 11.8s	remaining: 5m 37s
200:	learn: 0.7022428	test: 0.4922048	test1: 0.6743342	best: 0.6742762 (191)	total: 25.2s	remaining: 5m 50s
300:	learn: 0.6881953	test: 0.4752019	test1: 0.6722590	best: 0.6722526 (299)	total: 40.2s	remaining: 6m
400:	learn: 0.6733334	test: 0.4668762	test1: 0.6712334	best: 0.6712334 (400)	total: 55.4s	remaining: 5m 58s
500:	learn: 0.6593390	test: 0.4620588	test1: 0.6710938	best: 0.6709456 (474)	total: 1m 11s	remaining: 5m 55s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.6709455537
bestIteration = 474

Shrink model to first 475 iterations.
FOLD 10 : logloss:0.6709455537332741
================================================================================


Mean:0.6657551796316662

### train 데이터 전체로 fit하여 학습한 것을 최종 모델로 활용
- AutoML 에서 최종적으로 finalize로 학습시키는 것처럼 최종 파라미터로 전체 데이터에 fit하여 학습시켰습니다.

In [24]:
cat = CatBoostClassifier(n_estimators=443, max_depth=8, random_seed=2, learning_rate =0.04, bootstrap_type ='Bernoulli')
cat.fit(train_x, train_y, cat_features=cat_features, verbose=50)
test_predictions = cat.predict_proba(test)

0:	learn: 1.0757624	total: 123ms	remaining: 54.5s
50:	learn: 0.7395179	total: 4.71s	remaining: 36.2s
100:	learn: 0.7122598	total: 10.8s	remaining: 36.7s
150:	learn: 0.7035743	total: 17.4s	remaining: 33.6s
200:	learn: 0.6971476	total: 24.7s	remaining: 29.7s
250:	learn: 0.6911508	total: 31.5s	remaining: 24.1s
300:	learn: 0.6834176	total: 38.7s	remaining: 18.3s
350:	learn: 0.6765608	total: 45.9s	remaining: 12s
400:	learn: 0.6692687	total: 53.1s	remaining: 5.56s
442:	learn: 0.6642179	total: 59s	remaining: 0us

# 결과 확인 및 제출 파일 생성

In [25]:
my_submission = test_predictions 
my_submission

array([[0.13829551, 0.17505449, 0.68665   ],
       [0.3400513 , 0.23890038, 0.42104832],
       [0.03970559, 0.075411  , 0.88488341],
       ...,
       [0.04644717, 0.11143624, 0.84211659],
       [0.14229699, 0.31695901, 0.540744  ],
       [0.05513677, 0.44792195, 0.49694128]])

In [26]:
submission=pd.read_csv('./data/sample_submission.csv')
submission.loc[:,1:]=my_submission
submission

      index         0         1         2
0     26457  0.138296  0.175054  0.686650
1     26458  0.340051  0.238900  0.421048
2     26459  0.039706  0.075411  0.884883
3     26460  0.064676  0.072748  0.862576
4     26461  0.077521  0.208858  0.713621
...     ...       ...       ...       ...
9995  36452  0.062775  0.207264  0.729960
9996  36453  0.132797  0.431556  0.435647
9997  36454  0.046447  0.111436  0.842117
9998  36455  0.142297  0.316959  0.540744
9999  36456  0.055137  0.447922  0.496941

[10000 rows x 4 columns]

In [27]:
submission.to_csv('./data/10fold_cat_0.66575.csv', index=False)

In [28]:
submission.head(20)

    index         0         1         2
0   26457  0.138296  0.175054  0.686650
1   26458  0.340051  0.238900  0.421048
2   26459  0.039706  0.075411  0.884883
3   26460  0.064676  0.072748  0.862576
4   26461  0.077521  0.208858  0.713621
5   26462  0.056017  0.125721  0.818262
6   26463  0.651822  0.325448  0.022729
7   26464  0.044295  0.084168  0.871537
8   26465  0.055915  0.082178  0.861907
9   26466  0.058975  0.273207  0.667817
10  26467  0.115408  0.103979  0.780613
11  26468  0.032439  0.082939  0.884622
12  26469  0.666139  0.090017  0.243844
13  26470  0.059818  0.424585  0.515596
14  26471  0.107057  0.127259  0.765684
15  26472  0.059826  0.283567  0.656607
16  26473  0.040360  0.071059  0.888581
17  26474  0.353324  0.622394  0.024282
18  26475  0.372737  0.144726  0.482537
19  26476  0.036711  0.089163  0.874126